# Numpy Arrays

NumPy which stands for Numerical Python. It is a Python library that provides a fast and efficient way to work with numerical data. NumPy arrays are stored in contiguous memory, which makes them much faster to access and manipulate than Python lists. NumPy also provides a number of functions for performing mathematical operations on arrays, such as linear algebra and statistical operations.

Before NumPy, there were a number of different libraries for working with numerical data in Python, but they were often incompatible with each other and inefficient. NumPy provided a single library that was compatible with all of the major Python scientific libraries, such as SciPy and Matplotlib.

NumPy also provided a number of performance optimizations for working with numerical data. For example, NumPy arrays are stored in contiguous memory, which makes them much faster to access and manipulate than Python lists.

NumPy has been essential for the development of scientific computing in Python. It is used by scientists and engineers all over the world to work with numerical data.

NumPy array is the closest counterpart to R vector

In [1]:
import numpy as np

Create a numpy array from list

In [2]:
# Create a 1D array of numbers from 0 to 9
array1 = np.array([45, 12, 34, 9, 94])
array1

array([45, 12, 34,  9, 94])

type() function returns numpy.ndarray.

In [3]:
type(array1)

numpy.ndarray

NumPy arrays have an attribute expressing the data type of the elements in the array.

In [4]:
array1.dtype

dtype('int32')

You can specify the precision level of the entries in a NumPy array.

In [5]:
array1.dtype = 'int8'

In [6]:
array1.dtype

dtype('int8')

In [7]:
#specify the data type when creating the array
array2 = np.array([45, 12, 34, 9, 94], dtype='int64')
array2

array([45, 12, 34,  9, 94], dtype=int64)

```Data type| Range of values | |
|---|---|---|
| int8 | -128 to 127 |
| int16 | -32,768 to 32,767 |
| int32 | -2,147,483,648 to 2,147,483,647 |
| int64 | -9,223,372,036,854,775,808 to 9,223,372,036,854,775,807 |
| float32 | ±1.1754943508222875e-38 to ±3.4028234663852886e+38 |
| float64 | ±2.2250738585072014e-308 to ±1.7976931348623157e+308 |
```

Shape (dimension) of array

NumPy arrays are n-dimensional, meaning that they can have more than one dimension. The shape of a NumPy array is a tuple that contains the length of each dimension.

In [8]:
array1.shape

(20,)

The shape is (5,) indicates that array1 is a one-dimensional array with 5 elements. The trailing comma is necessary to indicate that the shape is a tuple, even though it only has one element.

In [9]:
#two dimensinal array
array2d = np.array([[45, 12, 34, 9, 94], [-2, 8, 8, 7, 3]])
array2d

array([[45, 12, 34,  9, 94],
       [-2,  8,  8,  7,  3]])

In [10]:
array2d.shape

(2, 5)

In [11]:
np.array([[45, 12, 34, 9, 94], [-2, 8, 8]])

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (2,) + inhomogeneous part.

Read text data containing body mass index as a numpy array.

In [12]:
bmi_array = np.loadtxt('../data/bmi.txt')
bmi_array

array([26.2, 24.7, 24.2, 23.8, 34.1, 22.7, 22.9, 24.9, 20.4, 22. , 21. ,
       26.1, 23. , 23.7, 26.9, 26.6, 27.2, 23. , 22.4, 25.5, 21.6, 23.4,
       23.9, 23.7, 21.7, 26. , 22.4, 25.1, 22.6, 24.5, 21.9, 28. , 22.4,
       29.6, 24.7, 27.1, 24.6, 22.4, 27.4, 22.7, 32. , 31.4, 25. , 23.6,
       23.3, 26.4, 27.6,  nan,  nan, 27.6, 29. , 24.4, 21.9, 25.5, 23.3,
       22.5, 23.1, 23.3, 26.4, 23.1, 33.4, 28. , 21.2, 25.6, 27. , 23.4,
       21.7, 25.4, 23.7, 28.9, 26.7, 22.6, 20.2, 24.2, 24.8,  nan, 31. ,
       25.1, 24.2, 25.6, 26. , 21.8, 24.2, 25.7, 27.8, 21.4, 25.1, 24.7,
       28.4, 23.6, 26.1, 27.4, 24.9, 28.8, 23.7, 21.8, 26.1, 25.3, 25.6,
       27.3, 24.5, 31.1, 27.8, 20.5, 28.4, 20.4, 24.6, 22.5, 26.1, 29.5,
       21.2, 27.2, 23.3, 22.4, 21. , 22.5, 21.5, 25. , 36.8, 27.3, 25.4,
       26.7, 22.2, 26.6, 23.4, 25.9, 29.9, 21.5, 29.9, 25.3, 21.2, 20.8,
       19.4, 28.7, 23.4, 23.6, 23.4, 25.5, 23.2, 26.1, 28.4, 26.2, 26.4,
       22.8, 24.2, 20.5, 24.1, 21.4, 25.1, 25.1, 26.9, 38.8, 22. , 21. ,
       30. , 26.2, 21.2, 28.9, 29.4, 24.1, 24.2, 25.5,  nan, 25.9, 22.4,
       27.8, 23.6, 22.1, 26.4, 22. , 21.3, 24.9, 26.2, 25.8, 21.1, 27.8,
       21.1, 21.1, 22.6, 23.3, 27.2, 32.9, 20. , 26.8, 28.9, 23.6, 24.3,
       27.4, 28. , 24.4, 24.8, 25.6, 23.2, 23.6, 23.1, 22.1, 19.9, 24.5,
       22.6, 24.2, 27.1, 26.3, 24.2, 25.3, 21.1, 25.2, 24.2, 24.7, 25.8,
       27. , 24.7, 23.2, 27. , 21.5, 28.1, 27.7, 25. , 26.4, 24. , 31. ,
       22.3, 24.4, 24.3, 21.2, 22.5, 23.1, 24. , 29.2, 25.1, 23.5, 23.7,
       30.7, 22.2, 23.3, 26.2, 21.8, 22.8, 20.8, 21.5, 25.8, 22.8, 23.9,
       24.5, 22. , 26.2, 28.1, 23.6, 24.5, 22.5, 28.7, 27.4, 22.1, 22.4,
       19.7, 25.6, 24.1, 22.7, 25.9, 26.1, 21.5, 24. ,  nan, 27.5, 26.2,
       23.8, 38.6, 22.4, 24.5, 29. , 25.3, 27.5, 27.8, 24.7, 27.2, 22.6,
       28.8, 22.2, 30.8, 24.6, 25.8, 28.9, 25.2, 26.3, 28.9, 23.2, 23.3,
       26.7, 25.2, 26.1, 24.2, 22.9, 23. , 24.8, 21.4, 26. , 25.8, 28.6,
       23.9, 20.8, 23.6, 23.4, 20.2, 28.9, 33.1, 22.9, 29.9, 26. , 25.8,
       28.1, 28.2, 21.9,  nan, 22.4, 26.9, 25.1, 33.7, 28.5, 30.5, 24.1,
       23.6, 20.9, 26.3, 27.2, 26.6, 23. , 25.5, 24.7, 26.8, 22. , 24.4,
       28.3,  nan, 24.7, 20.5, 23.1, 24.9, 22.6, 22.8, 25.3, 27.2, 24.8,
       21.4, 23. , 25.9, 29.1, 21.9, 24.4, 23.3, 22.6, 26.9,  nan, 24. ,
       25.4, 28.5, 24.5, 22.1, 22.5, 27.4, 25.5, 24.7, 23.8, 22.1, 24.5,
       25.7, 21. , 23.5, 24.1, 21.5, 26.9, 22.8, 24.6, 27.4, 21. , 25. ,
       19.5, 25.6, 22.6, 33.9, 24.4, 23.4, 29.2, 23.5, 31.6, 23.2, 27.8,
       31.2, 23.1, 30.8, 19.7, 23.4, 28.9, 27.9, 29. , 27.1, 27.2, 25.8,
       23.5, 20.6, 24. , 21.4])

In [13]:
bmi_array.shape

(400,)

In [14]:
help(np.loadtxt)

Help on function loadtxt in module numpy:

loadtxt(fname, dtype=<class 'float'>, comments='#', delimiter=None, converters=None, skiprows=0, usecols=None, unpack=False, ndmin=0, encoding='bytes', max_rows=None, *, quotechar=None, like=None)
    Load data from a text file.

    Parameters
    ----------
    fname : file, str, pathlib.Path, list of str, generator
        File, filename, list, or generator to read.  If the filename
        extension is ``.gz`` or ``.bz2``, the file is first decompressed. Note
        that generators must return bytes or strings. The strings
        in a list or produced by a generator are treated as lines.
    dtype : data-type, optional
        Data-type of the resulting array; default: float.  If this is a
        structured data-type, the resulting array will be 1-dimensional, and
        each row will be interpreted as an element of the array.  In this
        case, the number of columns used must match the number of fields in
        the data-type.
    comments : str or sequence of str or None, optional
        The characters or list of characters used to indicate the start of a
        comment. None implies no comments. For backwards compatibility, byte
        strings will be decoded as 'latin1'. The default is '#'.
    delimiter : str, optional
        The character used to separate the values. For backwards compatibility,
        byte strings will be decoded as 'latin1'. The default is whitespace.

        .. versionchanged:: 1.23.0
           Only single character delimiters are supported. Newline characters
           cannot be used as the delimiter.

    converters : dict or callable, optional
        Converter functions to customize value parsing. If `converters` is
        callable, the function is applied to all columns, else it must be a
        dict that maps column number to a parser function.
        See examples for further details.
        Default: None.

        .. versionchanged:: 1.23.0
           The ability to pass a single callable to be applied to all columns
           was added.

    skiprows : int, optional
        Skip the first `skiprows` lines, including comments; default: 0.
    usecols : int or sequence, optional
        Which columns to read, with 0 being the first. For example,
        ``usecols = (1,4,5)`` will extract the 2nd, 5th and 6th columns.
        The default, None, results in all columns being read.

        .. versionchanged:: 1.11.0
            When a single column has to be read it is possible to use
            an integer instead of a tuple. E.g ``usecols = 3`` reads the
            fourth column the same way as ``usecols = (3,)`` would.
    unpack : bool, optional
        If True, the returned array is transposed, so that arguments may be
        unpacked using ``x, y, z = loadtxt(...)``.  When used with a
        structured data-type, arrays are returned for each field.
        Default is False.
    ndmin : int, optional
        The returned array will have at least `ndmin` dimensions.
        Otherwise mono-dimensional axes will be squeezed.
        Legal values: 0 (default), 1 or 2.

        .. versionadded:: 1.6.0
    encoding : str, optional
        Encoding used to decode the inputfile. Does not apply to input streams.
        The special value 'bytes' enables backward compatibility workarounds
        that ensures you receive byte arrays as results if possible and passes
        'latin1' encoded strings to converters. Override this value to receive
        unicode arrays and pass strings as input to converters.  If set to None
        the system default is used. The default value is 'bytes'.

        .. versionadded:: 1.14.0
    max_rows : int, optional
        Read `max_rows` rows of content after `skiprows` lines. The default is
        to read all the rows. Note that empty rows containing no data such as
        empty lines and comment lines are not counted towards `max_rows`,
        while such lines are counted in `skiprows`.

        .. versionadded:: 1.16.0

        .. versionchanged:: 1.23.0
            Lines containing no data, including comment lines (e.g., lines
            starting with '#' or as specified via `comments`) are not counted
            towards `max_rows`.
    quotechar : unicode character or None, optional
        The character used to denote the start and end of a quoted item.
        Occurrences of the delimiter or comment characters are ignored within
        a quoted item. The default value is ``quotechar=None``, which means
        quoting support is disabled.

        If two consecutive instances of `quotechar` are found within a quoted
        field, the first is treated as an escape character. See examples.

        .. versionadded:: 1.23.0
    like : array_like, optional
        Reference object to allow the creation of arrays which are not
        NumPy arrays. If an array-like passed in as ``like`` supports
        the ``__array_function__`` protocol, the result will be defined
        by it. In this case, it ensures the creation of an array object
        compatible with that passed in via this argument.

        .. versionadded:: 1.20.0

    Returns
    -------
    out : ndarray
        Data read from the text file.

    See Also
    --------
    load, fromstring, fromregex
    genfromtxt : Load data with missing values handled as specified.
    scipy.io.loadmat : reads MATLAB data files

    Notes
    -----
    This function aims to be a fast reader for simply formatted files.  The
    `genfromtxt` function provides more sophisticated handling of, e.g.,
    lines with missing values.

    Each row in the input text file must have the same number of values to be
    able to read all values. If all rows do not have same number of values, a
    subset of up to n columns (where n is the least number of values present
    in all rows) can be read by specifying the columns via `usecols`.

    .. versionadded:: 1.10.0

    The strings produced by the Python float.hex method can be used as
    input for floats.

    Examples
    --------
    >>> from io import StringIO   # StringIO behaves like a file object
    >>> c = StringIO("0 1\n2 3")
    >>> np.loadtxt(c)
    array([[0., 1.],
           [2., 3.]])

    >>> d = StringIO("M 21 72\nF 35 58")
    >>> np.loadtxt(d, dtype={'names': ('gender', 'age', 'weight'),
    ...                      'formats': ('S1', 'i4', 'f4')})
    array([(b'M', 21, 72.), (b'F', 35, 58.)],
          dtype=[('gender', 'S1'), ('age', '<i4'), ('weight', '<f4')])

    >>> c = StringIO("1,0,2\n3,0,4")
    >>> x, y = np.loadtxt(c, delimiter=',', usecols=(0, 2), unpack=True)
    >>> x
    array([1., 3.])
    >>> y
    array([2., 4.])

    The `converters` argument is used to specify functions to preprocess the
    text prior to parsing. `converters` can be a dictionary that maps
    preprocessing functions to each column:

    >>> s = StringIO("1.618, 2.296\n3.141, 4.669\n")
    >>> conv = {
    ...     0: lambda x: np.floor(float(x)),  # conversion fn for column 0
    ...     1: lambda x: np.ceil(float(x)),  # conversion fn for column 1
    ... }
    >>> np.loadtxt(s, delimiter=",", converters=conv)
    array([[1., 3.],
           [3., 5.]])

    `converters` can be a callable instead of a dictionary, in which case it
    is applied to all columns:

    >>> s = StringIO("0xDE 0xAD\n0xC0 0xDE")
    >>> import functools
    >>> conv = functools.partial(int, base=16)
    >>> np.loadtxt(s, converters=conv)
    array([[222., 173.],
           [192., 222.]])

    This example shows how `converters` can be used to convert a field
    with a trailing minus sign into a negative number.

    >>> s = StringIO('10.01 31.25-\n19.22 64.31\n17.57- 63.94')
    >>> def conv(fld):
    ...     return -float(fld[:-1]) if fld.endswith(b'-') else float(fld)
    ...
    >>> np.loadtxt(s, converters=conv)
    array([[ 10.01, -31.25],
           [ 19.22,  64.31],
           [-17.57,  63.94]])

    Using a callable as the converter can be particularly useful for handling
    values with different formatting, e.g. floats with underscores:

    >>> s = StringIO("1 2.7 100_000")
    >>> np.loadtxt(s, converters=float)
    array([1.e+00, 2.7e+00, 1.e+05])

    This idea can be extended to automatically handle values specified in
    many different formats:

    >>> def conv(val):
    ...     try:
    ...         return float(val)
    ...     except ValueError:
    ...         return float.fromhex(val)
    >>> s = StringIO("1, 2.5, 3_000, 0b4, 0x1.4000000000000p+2")
    >>> np.loadtxt(s, delimiter=",", converters=conv, encoding=None)
    array([1.0e+00, 2.5e+00, 3.0e+03, 1.8e+02, 5.0e+00])

    Note that with the default ``encoding="bytes"``, the inputs to the
    converter function are latin-1 encoded byte strings. To deactivate the
    implicit encoding prior to conversion, use ``encoding=None``

    >>> s = StringIO('10.01 31.25-\n19.22 64.31\n17.57- 63.94')
    >>> conv = lambda x: -float(x[:-1]) if x.endswith('-') else float(x)
    >>> np.loadtxt(s, converters=conv, encoding=None)
    array([[ 10.01, -31.25],
           [ 19.22,  64.31],
           [-17.57,  63.94]])

    Support for quoted fields is enabled with the `quotechar` parameter.
    Comment and delimiter characters are ignored when they appear within a
    quoted item delineated by `quotechar`:

    >>> s = StringIO('"alpha, #42", 10.0\n"beta, #64", 2.0\n')
    >>> dtype = np.dtype([("label", "U12"), ("value", float)])
    >>> np.loadtxt(s, dtype=dtype, delimiter=",", quotechar='"')
    array([('alpha, #42', 10.), ('beta, #64',  2.)],
          dtype=[('label', '<U12'), ('value', '<f8')])

    Quoted fields can be separated by multiple whitespace characters:

    >>> s = StringIO('"alpha, #42"       10.0\n"beta, #64" 2.0\n')
    >>> dtype = np.dtype([("label", "U12"), ("value", float)])
    >>> np.loadtxt(s, dtype=dtype, delimiter=None, quotechar='"')
    array([('alpha, #42', 10.), ('beta, #64',  2.)],
          dtype=[('label', '<U12'), ('value', '<f8')])

    Two consecutive quote characters within a quoted field are treated as a
    single escaped character:

    >>> s = StringIO('"Hello, my name is ""Monty""!"')
    >>> np.loadtxt(s, dtype="U", delimiter=",", quotechar='"')
    array('Hello, my name is "Monty"!', dtype='<U26')

    Read subset of columns when all rows do not contain equal number of values:

    >>> d = StringIO("1 2\n2 4\n3 9 12\n4 16 20")
    >>> np.loadtxt(d, usecols=(0, 1))
    array([[ 1.,  2.],
           [ 2.,  4.],
           [ 3.,  9.],
           [ 4., 16.]])

Accessing elements of numpy arrays

In [15]:
# create an array that contains only the first 10 elements of bmi_array
bmi_array10 = bmi_array[:10]
bmi_array10

array([26.2, 24.7, 24.2, 23.8, 34.1, 22.7, 22.9, 24.9, 20.4, 22. ])

In [16]:
len(bmi_array10)

10

In [17]:
bmi_array10.shape

(10,)

In [18]:
#array that holds the last 10 elements of bmi_array
bmi_array_last10 = bmi_array[-10:]
bmi_array_last10

array([28.9, 27.9, 29. , 27.1, 27.2, 25.8, 23.5, 20.6, 24. , 21.4])

Slicing

In [19]:
bmi_array_last10

array([28.9, 27.9, 29. , 27.1, 27.2, 25.8, 23.5, 20.6, 24. , 21.4])

```python
values:        28.9, 27.9, 29. , 27.1, 27.2, 25.8, 23.5, 20.6, 24. , 21.4

indexes         0     1     2      3     4     5     6     7     8      9
```

In [20]:
bmi_array_last10[0]

28.9

In [21]:
bmi_array_last10[-1]

21.4

In [22]:
bmi_array_last10[5:9] #including 5th index and upto but not including 9th index

array([25.8, 23.5, 20.6, 24. ])

In [23]:
bmi_array_last10.sort()

In [24]:
bmi_array_last10

array([20.6, 21.4, 23.5, 24. , 25.8, 27.1, 27.2, 27.9, 28.9, 29. ])

Much like lists, sort() modifies the array.

In [25]:
#array that holds the last 10 elements of bmi_array
bmi_array_last10 = bmi_array[-10:]
bmi_array_last10

array([20.6, 21.4, 23.5, 24. , 25.8, 27.1, 27.2, 27.9, 28.9, 29. ])

apply comparison operator

In [26]:
bmi_array_last10 >= 25

array([False, False, False, False,  True,  True,  True,  True,  True,
        True])

In [27]:
bool_array = bmi_array_last10 >= 25
bool_array.dtype

dtype('bool')

Slicing using boolean array

In [28]:
bmi_array_last10[bmi_array_last10 >= 25]

array([25.8, 27.1, 27.2, 27.9, 28.9, 29. ])

Append to array

In [29]:
np.append(bmi_array_last10,18)

array([20.6, 21.4, 23.5, 24. , 25.8, 27.1, 27.2, 27.9, 28.9, 29. , 18. ])

Insert at a specific index value

In [30]:
np.insert(bmi_array_last10, 2, 18)

array([20.6, 21.4, 18. , 23.5, 24. , 25.8, 27.1, 27.2, 27.9, 28.9, 29. ])

In [31]:
np.insert(bmi_array_last10, 5, [32, 32])

array([20.6, 21.4, 23.5, 24. , 25.8, 32. , 32. , 27.1, 27.2, 27.9, 28.9,
       29. ])

Arithmetic on numpy arrays

In [32]:
# set numpy random seed
np.random.seed(132)
#generate 20 random numbers between 0 and 10
rnd_int_array = np.random.randint(0, 10, 20)
rnd_int_array

array([1, 1, 2, 6, 5, 5, 2, 2, 2, 8, 6, 3, 4, 0, 3, 9, 1, 9, 5, 9])

In [33]:
#multiply each element by 2
rnd_int_array * 2

array([ 2,  2,  4, 12, 10, 10,  4,  4,  4, 16, 12,  6,  8,  0,  6, 18,  2,
       18, 10, 18])

In [34]:
#exponential of each element to a power of 3
rnd_int_array ** 3

array([  1,   1,   8, 216, 125, 125,   8,   8,   8, 512, 216,  27,  64,
         0,  27, 729,   1, 729, 125, 729], dtype=int32)

In [35]:
#add 5 to each element
rnd_int_array + 5

array([ 6,  6,  7, 11, 10, 10,  7,  7,  7, 13, 11,  8,  9,  5,  8, 14,  6,
       14, 10, 14])

In [36]:
#add another array to rnd_int_array
rnd_int_array + np.array([1, 2, 3])

ValueError: operands could not be broadcast together with shapes (20,) (3,)

In [37]:
rnd_int_array.shape

(20,)

In [38]:
len(rnd_int_array)

20

In [39]:
rnd_int_array +  10 * np.ones(rnd_int_array.shape[0])

array([11., 11., 12., 16., 15., 15., 12., 12., 12., 18., 16., 13., 14.,
       10., 13., 19., 11., 19., 15., 19.])

Reshape arrays

In [40]:
#reshape rnd_int_array to a 4x5 matrix
rnd2darray = rnd_int_array.reshape(4,5)
rnd2darray

array([[1, 1, 2, 6, 5],
       [5, 2, 2, 2, 8],
       [6, 3, 4, 0, 3],
       [9, 1, 9, 5, 9]])

In [41]:
#slice the first 3 rows and first 1 column
rnd2darray[:3, :2]

array([[1, 1],
       [5, 2],
       [6, 3]])

In [42]:
#slice the first two rows and last two columns
rnd2darray[:2, -2:]

array([[6, 5],
       [2, 8]])

In [43]:
rnd2darray

array([[1, 1, 2, 6, 5],
       [5, 2, 2, 2, 8],
       [6, 3, 4, 0, 3],
       [9, 1, 9, 5, 9]])

In [44]:
#multiply rnd2darray transpose by rnd2darray
np.matmul(rnd2darray.T, rnd2darray)

array([[143,  38, 117,  61, 144],
       [ 38,  15,  27,  15,  39],
       [117,  27, 105,  61, 119],
       [ 61,  15,  61,  65,  91],
       [144,  39, 119,  91, 179]])

In [45]:
rnd2darray.T @ rnd2darray

array([[143,  38, 117,  61, 144],
       [ 38,  15,  27,  15,  39],
       [117,  27, 105,  61, 119],
       [ 61,  15,  61,  65,  91],
       [144,  39, 119,  91, 179]])

In [46]:
#inverse of rnd2darray.T @ rnd2darray
np.linalg.inv(rnd2darray.T @ rnd2darray)

array([[-1.06504045e+14,  5.07162120e+13,  8.65345368e+13,
        -5.86406201e+13,  4.69124961e+13],
       [ 5.07162120e+13, -2.41505772e+13, -4.12069223e+13,
         2.79241048e+13, -2.23392839e+13],
       [ 8.65345368e+13, -4.12069223e+13, -7.03093111e+13,
         4.76455039e+13, -3.81164031e+13],
       [-5.86406201e+13,  2.79241048e+13,  4.76455039e+13,
        -3.22872462e+13,  2.58297970e+13],
       [ 4.69124961e+13, -2.23392839e+13, -3.81164031e+13,
         2.58297970e+13, -2.06638376e+13]])

In [47]:
from numpy.linalg import inv
inv(rnd2darray.T @ rnd2darray)

array([[-1.06504045e+14,  5.07162120e+13,  8.65345368e+13,
        -5.86406201e+13,  4.69124961e+13],
       [ 5.07162120e+13, -2.41505772e+13, -4.12069223e+13,
         2.79241048e+13, -2.23392839e+13],
       [ 8.65345368e+13, -4.12069223e+13, -7.03093111e+13,
         4.76455039e+13, -3.81164031e+13],
       [-5.86406201e+13,  2.79241048e+13,  4.76455039e+13,
        -3.22872462e+13,  2.58297970e+13],
       [ 4.69124961e+13, -2.23392839e+13, -3.81164031e+13,
         2.58297970e+13, -2.06638376e+13]])

## summary statistics of a 1-d numpy array

In [48]:
#generate 20 random numbers between 0 and 1
np.random.seed(12)
rnd_float_array = np.random.rand(20)
rnd_float_array

array([0.15416284, 0.7400497 , 0.26331502, 0.53373939, 0.01457496,
       0.91874701, 0.90071485, 0.03342143, 0.95694934, 0.13720932,
       0.28382835, 0.60608318, 0.94422514, 0.85273554, 0.00225923,
       0.52122603, 0.55203763, 0.48537741, 0.76813415, 0.16071675])

Finding sample mean

In [49]:
rnd_float_array.mean()

0.491475364337777

In [50]:
np.mean(rnd_float_array)

0.491475364337777

In [51]:
np.sum(rnd_float_array)/len(rnd_float_array)

0.491475364337777

We could also use the stats submodule from scipy

In [52]:
import scipy.stats as stats

In [53]:
#mean using scipy.stats
stats.tmean(rnd_float_array)

0.491475364337777

In [54]:
?stats.tmean

standard deviation

In [55]:
np.std(rnd_float_array), rnd_float_array.std()

(0.3301874879822317, 0.3301874879822317)

In [56]:
stats.tstd(rnd_float_array), stats.tvar(rnd_float_array)

(0.3387652147991467, 0.114761870757912)

In [57]:
stats.describe(rnd_float_array)

DescribeResult(nobs=20, minmax=(0.002259233518513537, 0.9569493362751168), mean=0.491475364337777, variance=0.11476187075791199, skewness=-0.04972573560872793, kurtosis=-1.420432528495428)

Load bmi data to np.array and calculate summary statistics

In [58]:
bmi_array = np.loadtxt('../data/bmi.txt')

In [59]:
bmi_array.shape

(400,)

In [60]:
bmi_array

array([26.2, 24.7, 24.2, 23.8, 34.1, 22.7, 22.9, 24.9, 20.4, 22. , 21. ,
       26.1, 23. , 23.7, 26.9, 26.6, 27.2, 23. , 22.4, 25.5, 21.6, 23.4,
       23.9, 23.7, 21.7, 26. , 22.4, 25.1, 22.6, 24.5, 21.9, 28. , 22.4,
       29.6, 24.7, 27.1, 24.6, 22.4, 27.4, 22.7, 32. , 31.4, 25. , 23.6,
       23.3, 26.4, 27.6,  nan,  nan, 27.6, 29. , 24.4, 21.9, 25.5, 23.3,
       22.5, 23.1, 23.3, 26.4, 23.1, 33.4, 28. , 21.2, 25.6, 27. , 23.4,
       21.7, 25.4, 23.7, 28.9, 26.7, 22.6, 20.2, 24.2, 24.8,  nan, 31. ,
       25.1, 24.2, 25.6, 26. , 21.8, 24.2, 25.7, 27.8, 21.4, 25.1, 24.7,
       28.4, 23.6, 26.1, 27.4, 24.9, 28.8, 23.7, 21.8, 26.1, 25.3, 25.6,
       27.3, 24.5, 31.1, 27.8, 20.5, 28.4, 20.4, 24.6, 22.5, 26.1, 29.5,
       21.2, 27.2, 23.3, 22.4, 21. , 22.5, 21.5, 25. , 36.8, 27.3, 25.4,
       26.7, 22.2, 26.6, 23.4, 25.9, 29.9, 21.5, 29.9, 25.3, 21.2, 20.8,
       19.4, 28.7, 23.4, 23.6, 23.4, 25.5, 23.2, 26.1, 28.4, 26.2, 26.4,
       22.8, 24.2, 20.5, 24.1, 21.4, 25.1, 25.1, 26.9, 38.8, 22. , 21. ,
       30. , 26.2, 21.2, 28.9, 29.4, 24.1, 24.2, 25.5,  nan, 25.9, 22.4,
       27.8, 23.6, 22.1, 26.4, 22. , 21.3, 24.9, 26.2, 25.8, 21.1, 27.8,
       21.1, 21.1, 22.6, 23.3, 27.2, 32.9, 20. , 26.8, 28.9, 23.6, 24.3,
       27.4, 28. , 24.4, 24.8, 25.6, 23.2, 23.6, 23.1, 22.1, 19.9, 24.5,
       22.6, 24.2, 27.1, 26.3, 24.2, 25.3, 21.1, 25.2, 24.2, 24.7, 25.8,
       27. , 24.7, 23.2, 27. , 21.5, 28.1, 27.7, 25. , 26.4, 24. , 31. ,
       22.3, 24.4, 24.3, 21.2, 22.5, 23.1, 24. , 29.2, 25.1, 23.5, 23.7,
       30.7, 22.2, 23.3, 26.2, 21.8, 22.8, 20.8, 21.5, 25.8, 22.8, 23.9,
       24.5, 22. , 26.2, 28.1, 23.6, 24.5, 22.5, 28.7, 27.4, 22.1, 22.4,
       19.7, 25.6, 24.1, 22.7, 25.9, 26.1, 21.5, 24. ,  nan, 27.5, 26.2,
       23.8, 38.6, 22.4, 24.5, 29. , 25.3, 27.5, 27.8, 24.7, 27.2, 22.6,
       28.8, 22.2, 30.8, 24.6, 25.8, 28.9, 25.2, 26.3, 28.9, 23.2, 23.3,
       26.7, 25.2, 26.1, 24.2, 22.9, 23. , 24.8, 21.4, 26. , 25.8, 28.6,
       23.9, 20.8, 23.6, 23.4, 20.2, 28.9, 33.1, 22.9, 29.9, 26. , 25.8,
       28.1, 28.2, 21.9,  nan, 22.4, 26.9, 25.1, 33.7, 28.5, 30.5, 24.1,
       23.6, 20.9, 26.3, 27.2, 26.6, 23. , 25.5, 24.7, 26.8, 22. , 24.4,
       28.3,  nan, 24.7, 20.5, 23.1, 24.9, 22.6, 22.8, 25.3, 27.2, 24.8,
       21.4, 23. , 25.9, 29.1, 21.9, 24.4, 23.3, 22.6, 26.9,  nan, 24. ,
       25.4, 28.5, 24.5, 22.1, 22.5, 27.4, 25.5, 24.7, 23.8, 22.1, 24.5,
       25.7, 21. , 23.5, 24.1, 21.5, 26.9, 22.8, 24.6, 27.4, 21. , 25. ,
       19.5, 25.6, 22.6, 33.9, 24.4, 23.4, 29.2, 23.5, 31.6, 23.2, 27.8,
       31.2, 23.1, 30.8, 19.7, 23.4, 28.9, 27.9, 29. , 27.1, 27.2, 25.8,
       23.5, 20.6, 24. , 21.4])

In [61]:
np.mean(bmi_array)

nan

Why did we get a `nan` result?

Try calculating the by removing nan values

In [62]:
np.nanmean(bmi_array)

24.999489795918365

In [63]:
np.nanmedian(bmi_array)

24.6

In [64]:
np.nanstd(bmi_array), np.nanvar(bmi_array), np.nanmax(bmi_array), np.nanmin(bmi_array)

(3.0192916700231835, 9.116122188671385, 38.8, 19.4)

In [65]:
#replace nan values with median
bmi_array[np.isnan(bmi_array)] = np.nanmedian(bmi_array)

In [66]:
np.std(bmi_array), np.var(bmi_array), np.nanmax(bmi_array), np.nanmin(bmi_array)

(2.9894694763452594, 8.93692775, 38.8, 19.4)

Note degrees of freedom argument for variance and standard deviation calculation.

In [67]:
bmi_array.var(ddof=1), bmi_array.var()

(8.959326065162907, 8.93692775)

In [68]:
np.std(bmi_array, ddof=1), np.std(bmi_array)

(2.9932133343887983, 2.9894694763452594)

Covariance and correlation

In [69]:
#covariance and other statistics
np.cov(bmi_array)

array(8.95932607)

In [70]:
np.corrcoef(bmi_array)

1.0

In [71]:
#generate 20 Gaussian distributed random numbers
np.random.seed(12)
rnd_gaussian = np.random.normal(loc=0.0, scale=1.0, size=20)
rnd_gaussian

array([ 0.47298583, -0.68142588,  0.2424395 , -1.70073563,  0.75314283,
       -1.53472134,  0.00512708, -0.12022767, -0.80698188,  2.87181939,
       -0.59782292,  0.47245699,  1.09595612, -1.2151688 ,  1.34235637,
       -0.12214979,  1.01251548, -0.91386915, -1.02953021,  1.20979645])

In [72]:
#the recommended approach for random number generation
rng = np.random.default_rng(seed=232)
gauss_rands = rng.normal(loc=0.0, scale=1.0, size=20)
gauss_rands

array([ 1.10218936,  0.50697681, -0.81705279, -0.23825027, -1.98133299,
        0.28516724, -1.0759136 ,  2.28547076,  0.22505743, -0.83582314,
        0.12332385,  0.52092787, -1.07286541, -1.16056935,  0.56715457,
        2.91103343,  0.02035017,  0.19810207,  0.83158194,  0.37867712])

In [73]:
#reshape rnd_gaussian to a 2 column matrix
rnd_gaussian = rnd_gaussian.reshape(10,2)

In [74]:
rnd_gaussian

array([[ 0.47298583, -0.68142588],
       [ 0.2424395 , -1.70073563],
       [ 0.75314283, -1.53472134],
       [ 0.00512708, -0.12022767],
       [-0.80698188,  2.87181939],
       [-0.59782292,  0.47245699],
       [ 1.09595612, -1.2151688 ],
       [ 1.34235637, -0.12214979],
       [ 1.01251548, -0.91386915],
       [-1.02953021,  1.20979645]])

In [75]:
#calculate covariance matrix
np.cov(rnd_gaussian.T, bias=False)

array([[ 0.70293463, -0.85841967],
       [-0.85841967,  1.96519953]])

In [76]:
?np.cov

In [77]:
#calculate variances of each column
np.var(rnd_gaussian, axis=0, ddof=1)

array([0.70293463, 1.96519953])

Concatenating, stacking arrays

In [78]:
x = np.array([1, 2, 3, 4, 5])
y = np.array([6, 7, 8, 9, 10])

In [79]:
x + y

array([ 7,  9, 11, 13, 15])

In [80]:
np.vstack((x, y))

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [81]:
np.row_stack((x, y))

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [82]:
np.hstack((x, y))

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [83]:
np.concatenate((x, y))

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [84]:
np.concatenate((x, y), axis=0)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [85]:
np.column_stack((x, y))

array([[ 1,  6],
       [ 2,  7],
       [ 3,  8],
       [ 4,  9],
       [ 5, 10]])

# Pandas Series

In [86]:
import pandas as pd

In [87]:
ascii_vals_series = pd.Series([97, 98, 99, 100, 101, 102, 103, 104, 105, 106])
ascii_vals_series

0     97
1     98
2     99
3    100
4    101
5    102
6    103
7    104
8    105
9    106
dtype: int64

Note that a pandas series is indexed.

In [88]:
ascii_vals_series.dtype

dtype('int64')

In [89]:
ascii_vals_series.shape

(10,)

Pandas series are similar to numpy arrays (with some differences that we will see soon).

In [90]:
#pandas series have .values attribute that returns a numpy array
ascii_vals_series.values

array([ 97,  98,  99, 100, 101, 102, 103, 104, 105, 106], dtype=int64)

Accessing pandas series elements by index names

In [91]:
ascii_vals_series

0     97
1     98
2     99
3    100
4    101
5    102
6    103
7    104
8    105
9    106
dtype: int64

In [92]:
ascii_vals_series[0] #first element

97

In [93]:
ascii_vals_series[3:7] #3rd index upto but not including 7th index

3    100
4    101
5    102
6    103
dtype: int64

In [94]:
ascii_vals_series.values

array([ 97,  98,  99, 100, 101, 102, 103, 104, 105, 106], dtype=int64)

In [95]:
np.array([97,  98,  99, 100, 101, 102, 103, 104, 105, 106])[3:7]

array([100, 101, 102, 103])

We can rename the indexes

In [96]:
ascii_vals_series.index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [97]:
ascii_vals_series

a     97
b     98
c     99
d    100
e    101
f    102
g    103
h    104
i    105
j    106
dtype: int64

In [98]:
#access elements by index
ascii_vals_series['a']

97

In [99]:
ascii_vals_series

a     97
b     98
c     99
d    100
e    101
f    102
g    103
h    104
i    105
j    106
dtype: int64

`d` upto and including `g`

In [100]:
ascii_vals_series['d':'g'] #d upto and including g

d    100
e    101
f    102
g    103
dtype: int64

index values can be provided to pd.Series() function

In [101]:
ascii_vals_series = pd.Series([97, 98, 99, 100, 101, 102, 103, 104, 105, 106], 
                index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

In [102]:
ascii_vals_series

a     97
b     98
c     99
d    100
e    101
f    102
g    103
h    104
i    105
j    106
dtype: int64

Using .iloc[] to access elements of a series using numeric sequential locations

In [103]:
ascii_vals_series.iloc[0] #note the [] instead of ()

97

In [104]:
ascii_vals_series['a']

97

In [105]:
ascii_vals_series.iloc[3]

100

In [106]:
ascii_vals_series

a     97
b     98
c     99
d    100
e    101
f    102
g    103
h    104
i    105
j    106
dtype: int64

In [107]:
ascii_vals_series.iloc[3:7]

d    100
e    101
f    102
g    103
dtype: int64

Using .loc[]

In [108]:
ascii_vals_series.loc['d']

100

In [109]:
type(ascii_vals_series.loc['d'])

numpy.int64

In [110]:
ascii_vals_series.loc[1] #error because 1 is not a valid index

KeyError: 1

loc and iloc are two methods in Pandas that are used to select data from a Pandas Series. The main difference between the two methods is that loc selects data based on labels, while iloc selects data based on integer positions.

Conditional slicing or filtering

In [ ]:
ascii_vals_series > 100

In [ ]:
ascii_vals_series.values > 100

In [ ]:
ascii_vals_series[ascii_vals_series > 100]

Summary statistics of the pandas series

In [111]:
ascii_vals_series.describe()

count     10.00000
mean     101.50000
std        3.02765
min       97.00000
25%       99.25000
50%      101.50000
75%      103.75000
max      106.00000
dtype: float64

# Pandas dataframe

A Pandas DataFrame is a two-dimensional data structure, similar to a spreadsheet or table, with labeled rows and columns.

DataFrames can be created from existing data sources, such as CSV files, SQL databases, or NumPy arrays. They can also be created from scratch.

DataFrames are made up of two main components:

- Data: The data in a DataFrame can be of any type, such as numbers, strings, dates, or objects.
- Labels: The labels in a DataFrame are the row and column names.

In [112]:
import pandas as pd

Creating pandas data frame from scratch

In [113]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [114]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

Reading csv data

In [115]:
cholestrol_df = pd.read_csv('../data/cholesterol_data.csv')

Show the first few rows

In [116]:
cholestrol_df.head()

   ID  sex   age   chol   BMI   TG  APOE  rs174548  rs4775401  HTN  chd
0   1  1.0  74.0  215.0  26.2  367     4         1          2    1    1
1   2  1.0  51.0  204.0  24.7  150     4         2          1    1    1
2   3  0.0  64.0  205.0  24.2  213     4         0          1    1    0
3   4  0.0  34.0  182.0  23.8  111     2         1          1    1    0
4   5  1.0  52.0  175.0  34.1  328     2         0          0    1    0

In [117]:
#shape of the data frame
cholestrol_df.shape #tuple number of rows and columns

(400, 11)

In [118]:
#column names
cholestrol_df.columns

Index(['ID', 'sex', 'age', 'chol', 'BMI', 'TG', 'APOE', 'rs174548',
       'rs4775401', 'HTN', 'chd'],
      dtype='object')

Data adapted from https://github.com/rhubb/SISG2020

- ID: Subject ID

- sex: Sex: 0 = male, 1 = female

- age: Age in years

- chol: Serum total cholesterol, mg/dl

- BMI: Body-mass index, kg/m2

- TG: Serum triglycerides, mg/dl

- APOE: Apolipoprotein E genotype, with six genotypes coded 1-6: 1 = e2/e2, 2 = e2/e3, 3 = e2/e4, 4 = e3/e3, 5 = e3/e4, 6 = e4/e4

- rs174548: Candidate SNP 1 genotype, chromosome 11, physical position 61,327,924. Coded as the number of minor alleles: 0 = C/C, 1 = C/G, 2 = G/G.

- rs4775401: Candidate SNP 2 genotype, chromosome 15, physical position 59,476,915. Coded as the number of minor alleles: 0 = C/C, 1 = C/T, 2 = T/T.

- HTN: diagnosed hypertension: 0 = no, 1 = yes

- chd: diagnosis of coronary heart disease: 0 = no, 1 = yes

In [119]:
#data types of each column
cholestrol_df.dtypes

ID             int64
sex          float64
age          float64
chol         float64
BMI          float64
TG             int64
APOE           int64
rs174548       int64
rs4775401      int64
HTN            int64
chd            int64
dtype: object

In [120]:
#describe the data frame
cholestrol_df.describe()

,ID,sex,age,chol,BMI,TG,APOE,rs174548,rs4775401,HTN,chd
count,400.000000,392.000000,392.000000,392.000000,392.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,0.507653,54.854592,183.681122,25.021173,177.440000,3.930000,0.497500,0.565000,0.787500,0.317500
std,115.614301,0.500580,14.386402,22.052317,3.014413,82.983233,0.909488,0.617208,0.621886,0.409589,0.466087
min,1.000000,0.000000,30.000000,117.000000,19.400000,47.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,100.750000,0.000000,43.000000,168.000000,22.900000,114.750000,4.000000,0.000000,0.000000,1.000000,0.000000
50%,200.500000,1.000000,55.000000,183.500000,24.600000,156.500000,4.000000,0.000000,0.000000,1.000000,0.000000
75%,300.250000,1.000000,67.000000,199.000000,26.725000,234.000000,4.000000,1.000000,1.000000,1.000000,1.000000
max,400.000000,1.000000,80.000000,247.000000,38.800000,586.000000,6.000000,2.000000,2.000000,1.000000,1.000000

In [121]:
#rename the column names to lower case
cholestrol_df.columns = [x.lower() for x in cholestrol_df.columns]

In [122]:
cholestrol_df.head()

   id  sex   age   chol   bmi   tg  apoe  rs174548  rs4775401  htn  chd
0   1  1.0  74.0  215.0  26.2  367     4         1          2    1    1
1   2  1.0  51.0  204.0  24.7  150     4         2          1    1    1
2   3  0.0  64.0  205.0  24.2  213     4         0          1    1    0
3   4  0.0  34.0  182.0  23.8  111     2         1          1    1    0
4   5  1.0  52.0  175.0  34.1  328     2         0          0    1    0

In [123]:
cholestrol_df.tail()

      id  sex   age   chol   bmi   tg  apoe  rs174548  rs4775401  htn  chd
395  396  0.0  71.0  169.0  25.8  322     4         0          0    1    0
396  397  0.0  57.0  173.0  23.5  205     4         0          0    0    0
397  398  1.0  33.0  180.0  20.6   56     4         0          1    1    0
398  399  1.0  78.0  212.0  24.0  273     4         1          0    1    0
399  400  0.0  43.0  220.0  21.4   91     5         0          1    1    1

In [124]:
cholestrol_df.describe()

,id,sex,age,chol,bmi,tg,apoe,rs174548,rs4775401,htn,chd
count,400.000000,392.000000,392.000000,392.000000,392.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,0.507653,54.854592,183.681122,25.021173,177.440000,3.930000,0.497500,0.565000,0.787500,0.317500
std,115.614301,0.500580,14.386402,22.052317,3.014413,82.983233,0.909488,0.617208,0.621886,0.409589,0.466087
min,1.000000,0.000000,30.000000,117.000000,19.400000,47.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,100.750000,0.000000,43.000000,168.000000,22.900000,114.750000,4.000000,0.000000,0.000000,1.000000,0.000000
50%,200.500000,1.000000,55.000000,183.500000,24.600000,156.500000,4.000000,0.000000,0.000000,1.000000,0.000000
75%,300.250000,1.000000,67.000000,199.000000,26.725000,234.000000,4.000000,1.000000,1.000000,1.000000,1.000000
max,400.000000,1.000000,80.000000,247.000000,38.800000,586.000000,6.000000,2.000000,2.000000,1.000000,1.000000

In [125]:
cholestrol_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         400 non-null    int64
 1   sex        392 non-null    float64
 2   age        392 non-null    float64
 3   chol       392 non-null    float64
 4   bmi        392 non-null    float64
 5   tg         400 non-null    int64
 6   apoe       400 non-null    int64
 7   rs174548   400 non-null    int64
 8   rs4775401  400 non-null    int64
 9   htn        400 non-null    int64
 10  chd        400 non-null    int64
dtypes: float64(4), int64(7)
memory usage: 34.5 KB

Dimensions/shape of data frame

In [126]:
cholestrol_df.shape

(400, 11)

In [127]:
cholestrol_df.size #number of elements in the data frame (rows * columns)

4400

In [128]:
cholestrol_df.index #row labels

RangeIndex(start=0, stop=400, step=1)

In [129]:
#rename the row labels to 'patient_1' to 'patient_400'
cholestrol_df.index = ['patient_' + str(x) for x in range(1, len(cholestrol_df) + 1)]

In [130]:
cholestrol_df.head()

,id,sex,age,chol,bmi,tg,apoe,rs174548,rs4775401,htn,chd
patient_1,1,1.0,74.0,215.0,26.2,367,4,1,2,1,1
patient_2,2,1.0,51.0,204.0,24.7,150,4,2,1,1,1
patient_3,3,0.0,64.0,205.0,24.2,213,4,0,1,1,0
patient_4,4,0.0,34.0,182.0,23.8,111,2,1,1,1,0
patient_5,5,1.0,52.0,175.0,34.1,328,2,0,0,1,0

Select patient_1's data only using `.loc`

In [131]:
cholestrol_df.loc['patient_1']

id             1.0
sex            1.0
age           74.0
chol         215.0
bmi           26.2
tg           367.0
apoe           4.0
rs174548       1.0
rs4775401      2.0
htn            1.0
chd            1.0
Name: patient_1, dtype: float64

Select patient_1's data using `.iloc`

In [132]:
cholestrol_df.iloc[0]

id             1.0
sex            1.0
age           74.0
chol         215.0
bmi           26.2
tg           367.0
apoe           4.0
rs174548       1.0
rs4775401      2.0
htn            1.0
chd            1.0
Name: patient_1, dtype: float64

Both .loc and .iloc make row wise selection and return a pandas Series. The index names of the returned pandas Series matches with the column names of the data frame. 

.loc selects rows based on labels, while .iloc selects rows based on sequential integer positions.

In [133]:
cholestrol_df.iloc[-1] #iloc with negative index to access last row

id           400.0
sex            0.0
age           43.0
chol         220.0
bmi           21.4
tg            91.0
apoe           5.0
rs174548       0.0
rs4775401      1.0
htn            1.0
chd            1.0
Name: patient_400, dtype: float64

In [134]:
cholestrol_df.loc['patient_1':'patient_10']

,id,sex,age,chol,bmi,tg,apoe,rs174548,rs4775401,htn,chd
patient_1,1,1.0,74.0,215.0,26.2,367,4,1,2,1,1
patient_2,2,1.0,51.0,204.0,24.7,150,4,2,1,1,1
patient_3,3,0.0,64.0,205.0,24.2,213,4,0,1,1,0
patient_4,4,0.0,34.0,182.0,23.8,111,2,1,1,1,0
patient_5,5,1.0,52.0,175.0,34.1,328,2,0,0,1,0
patient_6,6,1.0,39.0,176.0,22.7,53,4,0,2,0,0
patient_7,7,0.0,79.0,159.0,22.9,274,2,2,1,1,0
patient_8,8,0.0,38.0,169.0,24.9,137,2,1,1,0,0
patient_9,9,0.0,52.0,175.0,20.4,125,4,0,1,0,0
patient_10,10,NaN,58.0,189.0,22.0,209,5,0,1,1,0

Note pandas slicing includes both the lower and the upper limit

In [135]:
cholestrol_df.iloc[:10]

,id,sex,age,chol,bmi,tg,apoe,rs174548,rs4775401,htn,chd
patient_1,1,1.0,74.0,215.0,26.2,367,4,1,2,1,1
patient_2,2,1.0,51.0,204.0,24.7,150,4,2,1,1,1
patient_3,3,0.0,64.0,205.0,24.2,213,4,0,1,1,0
patient_4,4,0.0,34.0,182.0,23.8,111,2,1,1,1,0
patient_5,5,1.0,52.0,175.0,34.1,328,2,0,0,1,0
patient_6,6,1.0,39.0,176.0,22.7,53,4,0,2,0,0
patient_7,7,0.0,79.0,159.0,22.9,274,2,2,1,1,0
patient_8,8,0.0,38.0,169.0,24.9,137,2,1,1,0,0
patient_9,9,0.0,52.0,175.0,20.4,125,4,0,1,0,0
patient_10,10,NaN,58.0,189.0,22.0,209,5,0,1,1,0

Selecting columns

In [136]:
cholestrol_df['age']

patient_1      74.0
patient_2      51.0
patient_3      64.0
patient_4      34.0
patient_5      52.0
               ...
patient_396    71.0
patient_397    57.0
patient_398    33.0
patient_399    78.0
patient_400    43.0
Name: age, Length: 400, dtype: float64

In [137]:
age_series = cholestrol_df['age']
isinstance(age_series, pd.Series)

True

In [138]:
age_series.index

Index(['patient_1', 'patient_2', 'patient_3', 'patient_4', 'patient_5',
       'patient_6', 'patient_7', 'patient_8', 'patient_9', 'patient_10',
       ...
       'patient_391', 'patient_392', 'patient_393', 'patient_394',
       'patient_395', 'patient_396', 'patient_397', 'patient_398',
       'patient_399', 'patient_400'],
      dtype='object', length=400)

Selecting multiple columns

In [139]:
cholestrol_df[['chol','age','bmi', 'chd']]

              chol   age   bmi  chd
patient_1    215.0  74.0  26.2    1
patient_2    204.0  51.0  24.7    1
patient_3    205.0  64.0  24.2    0
patient_4    182.0  34.0  23.8    0
patient_5    175.0  52.0  34.1    0
...            ...   ...   ...  ...
patient_396  169.0  71.0  25.8    0
patient_397  173.0  57.0  23.5    0
patient_398  180.0  33.0  20.6    0
patient_399  212.0  78.0  24.0    0
patient_400  220.0  43.0  21.4    1

[400 rows x 4 columns]

Note that a list of column names is provided inside the square brackets, not the same as 
   
```python 
cholestrol_df['chol','age','bmi', 'chd']
```

In [140]:
cholestrol_df['chol','age','bmi', 'chd']

KeyError: ('chol', 'age', 'bmi', 'chd')

You can also use numeric sequential indexing to slice rows. However, it gets harder to read. Use iloc or/and loc to filter rows

In [ ]:
cholestrol_df[1:5]

In [141]:
cholestrol_df.iloc[1:5]

,id,sex,age,chol,bmi,tg,apoe,rs174548,rs4775401,htn,chd
patient_2,2,1.0,51.0,204.0,24.7,150,4,2,1,1,1
patient_3,3,0.0,64.0,205.0,24.2,213,4,0,1,1,0
patient_4,4,0.0,34.0,182.0,23.8,111,2,1,1,1,0
patient_5,5,1.0,52.0,175.0,34.1,328,2,0,0,1,0

In [142]:
cholestrol_df.iloc[1:5] == cholestrol_df[1:5]

,id,sex,age,chol,bmi,tg,apoe,rs174548,rs4775401,htn,chd
patient_2,True,True,True,True,True,True,True,True,True,True,True
patient_3,True,True,True,True,True,True,True,True,True,True,True
patient_4,True,True,True,True,True,True,True,True,True,True,True
patient_5,True,True,True,True,True,True,True,True,True,True,True

Null values in columns

In [143]:
pd.isna(cholestrol_df['age'])

patient_1      False
patient_2      False
patient_3      False
patient_4      False
patient_5      False
               ...
patient_396    False
patient_397    False
patient_398    False
patient_399    False
patient_400    False
Name: age, Length: 400, dtype: bool

In [144]:
pd.isna(cholestrol_df['age']).value_counts()

False    392
True       8
Name: age, dtype: int64

Filter dataframe to rows with missing 'age'

In [145]:
pd.isna(cholestrol_df['age'])

patient_1      False
patient_2      False
patient_3      False
patient_4      False
patient_5      False
               ...
patient_396    False
patient_397    False
patient_398    False
patient_399    False
patient_400    False
Name: age, Length: 400, dtype: bool

In [146]:
missing_age_df = cholestrol_df[pd.isna(cholestrol_df['age'])]
missing_age_df

,id,sex,age,chol,bmi,tg,apoe,rs174548,rs4775401,htn,chd
patient_20,20,0.0,NaN,170.0,25.5,345,4,1,1,1,0
patient_57,57,0.0,NaN,171.0,23.1,146,4,0,0,1,0
patient_82,82,1.0,NaN,184.0,21.8,89,4,2,1,1,0
patient_97,97,1.0,NaN,188.0,26.1,165,4,0,0,1,0
patient_111,111,0.0,NaN,177.0,21.2,71,4,1,0,0,0
patient_256,256,0.0,NaN,183.0,24.1,144,4,0,0,1,0
patient_317,317,1.0,NaN,206.0,28.5,269,4,0,0,1,1
patient_382,382,1.0,NaN,223.0,23.5,105,4,1,0,1,0

Filling/imputing missing values

In [147]:
cholestrol_df['age'].median()

55.0

In [148]:
np.nanmedian(cholestrol_df['age'].values)

55.0

In [149]:
#replace missing age by median age
cholestrol_df['age'].fillna(cholestrol_df['age'].median(), inplace=True)

Note the pandas .median(), .mean(), .sum(), etc methods exclude null values by default. This is different from what we observed in numpy arrays

In [150]:
np.mean(cholestrol_df['age'].values)

54.8575

In [151]:
np.sum(cholestrol_df['chol'].values)

nan

In [152]:
cholestrol_df['chol'].mean()

183.68112244897958

`value_counts()` method without excluding missing

In [153]:
cholestrol_df['sex'].value_counts(dropna=False)

1.0    199
0.0    193
NaN      8
Name: sex, dtype: int64

Count of missing values in each of the columns

In [154]:
pd.isnull(cholestrol_df).sum(axis = 0)

id           0
sex          8
age          0
chol         8
bmi          8
tg           0
apoe         0
rs174548     0
rs4775401    0
htn          0
chd          0
dtype: int64

Column names that contain missing values

In [155]:
columns_with_missing = cholestrol_df.columns[cholestrol_df.isnull().any()]

In [156]:
columns_with_missing

Index(['sex', 'chol', 'bmi'], dtype='object')

Create a dictionary of medians to impute missing values

In [157]:

dict(cholestrol_df[columns_with_missing].median())

{'sex': 1.0, 'chol': 183.5, 'bmi': 24.6}

In [158]:
#fill missing values with median
cholestrol_df.fillna(dict(cholestrol_df[columns_with_missing].median()), inplace=True)
#equivalent to 
#cholestrol_df.fillna({'sex': 1.0, 'age': 55.0, 'chol': 183.5, 'bmi': 24.6}, inplace=True)

Now save the pandas data frame to a permanent location so we can use it in a different script/notebook

In [159]:
cholestrol_df.columns[cholestrol_df.isnull().any()]

Index([], dtype='object')

### Save cleaned data to csv file

In [160]:
cholestrol_df.shape

(400, 11)

In [161]:
cholestrol_df.to_csv('../data/cholestrol_data_cleaned.csv', index=False)

Count the number of patients with CHD diagnosis

In [162]:
#Count the number of patients with CHD diagnosis
cholestrol_df['chd'].value_counts(dropna=False)

0    273
1    127
Name: chd, dtype: int64

In [163]:
#groupby chd and calculate mean
cholestrol_df.groupby('chd')['id'].agg(['count',  lambda x: x.count()/len(cholestrol_df)])

     count  <lambda_0>
chd
0      273      0.6825
1      127      0.3175

In [164]:
summary_by_chd = cholestrol_df.groupby('chd')['id'].agg(['count',  ('pct', lambda x: x.count()/len(cholestrol_df) ) ])

In [165]:
print(summary_by_chd)

     count     pct
chd
0      273  0.6825
1      127  0.3175

Categorical data type in pandas

In [166]:
pd.Categorical(cholestrol_df['chd']).describe()

            counts   freqs
categories
0              273  0.6825
1              127  0.3175

Convert `chd` to categorical

In [167]:
cholestrol_df['chd'] = pd.Categorical(cholestrol_df['chd'])
#equivalent to
#cholestrol_df['chd'] = cholestrol_df['chd'].astype('category')

In [168]:
cholestrol_df['chd'].describe()

count     400
unique      2
top         0
freq      273
Name: chd, dtype: int64

Create a cross-tabulation of chd and htn using `crosstab`

In [169]:
pd.crosstab(cholestrol_df['chd'], cholestrol_df['htn'])

htn   0    1
chd
0    68  205
1    17  110

## Merging pandas data frames

In [170]:
# Create two DataFrames
df_customers = pd.DataFrame({'customer_id': [1, 2, 3, 4], 
'name': ['Alice', 'Bob', 'Carol', 'Dan'], 
'email': ['alice@example.com', 'bob@example.com', 'carol@example.com', 'dan@example.com']})
df_orders = pd.DataFrame({'order_id': [10, 20, 30], 
'customer_id': [1, 2, 3],
 'product_name': ['iPhone', 'MacBook', 'iPad']})

# Perform a left join
merged_df = df_customers.merge(df_orders, how='left', on='customer_id')

# Display the merged DataFrame
print(merged_df)

   customer_id   name              email  order_id product_name
0            1  Alice  alice@example.com      10.0       iPhone
1            2    Bob    bob@example.com      20.0      MacBook
2            3  Carol  carol@example.com      30.0         iPad
3            4    Dan    dan@example.com       NaN          NaN

In [171]:
print(df_customers)

   customer_id   name              email
0            1  Alice  alice@example.com
1            2    Bob    bob@example.com
2            3  Carol  carol@example.com
3            4    Dan    dan@example.com

In [172]:
print(df_orders)

   order_id  customer_id product_name
0        10            1       iPhone
1        20            2      MacBook
2        30            3         iPad

In [173]:
# Perform a inner join
merged_df_inner = df_customers.merge(df_orders, how='inner', on='customer_id')

# Display the merged DataFrame
print(merged_df_inner)

   customer_id   name              email  order_id product_name
0            1  Alice  alice@example.com        10       iPhone
1            2    Bob    bob@example.com        20      MacBook
2            3  Carol  carol@example.com        30         iPad