# Housekeeping Items: 

Take note of the building code (to be shared in the room). You will need it to reenter the building if you leave during breaks.

# As a user of R, why should I learn python?
**Collaboration:** Python has become a popular language for data sience, so it is more likely that your coworkers and collaborators will be using Python. If you can code in Python, you will be able to collaborate more effectively with them.


Other reasons:
 - Easy(easier) to learn and use, with a simple and readable syntax.
 - General-purpose language, can be used for a wide variety of tasks, including web development, data science, machine learning, and artificial intelligence.
 - In high demand, with many job opportunities available for Python developers.
 - Free and open source, anyone can use and distribute Python without paying any fees.
 - Has a large and active community of developers, with many libraries and tools available.

# Mathematical Operators in Python

### Addition Operator in Python:

In [1]:
1 + 7

8

### Subtraction Operator in Python:

In [2]:
1 - 8

-7

### Multiplication Operator in Python:

In [3]:
200 * 3

600

### Division Operator in Python:

In [4]:
45 / 8

5.625

### Exponentiation (raising to a power) Operator in Python:

Note: the operator `^` is used in R for this purpose

In [5]:
3**2

9

In [6]:
3 ** 2 # space does not matter here

9

### Floor Division Operator in Python:

Note: The floor division operator in R is `%/%`.

In [7]:
7 / 2

3.5

In [ ]:
7 // 2

Using floor function in the numpy library/package. Note in R, the function `floor()` is available to use out of the box (i.e., it is part of base R).

In [9]:
import numpy as np

In [10]:
np.floor(7/2)

3.0

In [11]:
help(divmod)

Help on built-in function divmod in module builtins:

divmod(x, y, /)
    Return the tuple (x//y, x%y).  Invariant: div*y + mod == x.

In [12]:
divmod(7, 2) #output is a tupule

(3, 1)

### Modulo Operator in Python:

Note: this is achieved via the operator `%%` in R.

In [13]:
7 / 2

3.5

In [14]:
#7/2 is 3 remainder 1

In [15]:
7 % 2

1

# Importing/loading packages

In [16]:
import numpy as np

The `import numpy as np` statement imports the entire NumPy module. This means that you can access any of the functions and variables in the NumPy module by simply using their names. For example, to access the NumPy sin() function, you would use the following code:

In [ ]:
np.sin(np.pi / 2)

In [ ]:
import math
from matplotlib import pyplot as plt
import matplotlib.pyplot as plt
import scipy.stats as stats

The `import math` statement imports the entire math module. This means that you can access any of the functions and variables in the math module by simply using their names. For example, to access the math e constant, you would use the following code:

In [ ]:
math.e

In [ ]:
math.ceil(math.e)

The `from matplotlib import pyplot as plt` statement imports only the pyplot submodule of the Matplotlib module. This means that you can access any of the functions and variables in the pyplot submodule by simply using their names. For example, to plot a line graph, you would use the following code:

In [ ]:
plt.plot([1, 2, 3], [4, 5, 6])
plt

The `import matplotlib.pyplot as plt` is the same as the previous import statement, but it is less common.

# Installing packages

**pip user guide:** https://pip.pypa.io/en/stable/user_guide/

**What is pip?**

`Pip` is the default package manager for Python. It allows you to install, uninstall, and manage Python packages from the Python Package Index (PyPI).

_How to install pip_

Pip comes pre installed with the anaconda distribution of python. If `pip` is not already installed on your system, you can install it using the following command. This is meant to be run on a command prompt (e.g., Anaconda prompt) or shell/console.

    `python -m pip install --upgrade pip`

_How to use pip_

Once pip is installed, you can use it to install, uninstall, and manage Python packages.

To install a package, use the following command:

    `pip install --user package_name`

This will install the package. The --user flag ensuers that package is only installed for your user.

To uninstall a package, use the following command:

    `pip uninstall package_name`


To list all of the packages that are installed on your system, use the following command:

    `pip list`
To search for a package on PyPI, use the following command:

    `pip search package_name`

More reading on installing packages: 
- Installing packages: 
    - https://packaging.python.org/en/latest/tutorials/installing-packages/#installing-packages
- Installing global packages using `pipx`
    - https://packaging.python.org/en/latest/guides/installing-stand-alone-command-line-tools/
- Managing dependencies: 
    - https://packaging.python.org/en/latest/tutorials/managing-dependencies/

# Python variable assignments

Variable assignment  is the process of giving a name to a value so that you can refer to it later.

*Assignment operator*:
- Python: `=`
    - e.g, `x = 10`
- R: `<-` or `=`: 
    - e.g., `x <- 10`

In R, the assignment operator  `<-` is typically used over `=` operator, with `=` used to assign values to function arguments… e.g., `y <- log(x = 1)`.

In [ ]:
student_age = 25

In [ ]:
print(student_age)

In [ ]:
lecture_day = 'Friday'
print(lecture_day)

In [ ]:
sales_amt_2023 = 34_231.25
profit_margin = 0.15

print(f" The profit for 2023 is {sales_amt_2023 * 0.15}")

Note the use of the **f-string** in the print statement. Enclose a string literal in f-quotes. Inside the string literal, you can write a Python expression between curly braces `{}`. The Python expression will be evaluated and the result will be inserted into the string literal.

In [ ]:
profit_amt_2023 = sales_amt_2023 * 0.15

#f-string currency format profit_amt_2023
print(f"The profit margin is {profit_margin: .2%}.")

print(f""" Sales amount and profit for 2023 are {sales_amt_2023: ,.2f} 
      and {profit_amt_2023: .2f} respectively""")

## Python Variable Naming Convention

Valid Python Variable Names: 
- Can contain lowercase and uppercase letters
- Can contain numbers 0-9, but cannot start with a number
- Can contain underscores

Invalid variable names

In [ ]:
lecture.day = 'Friday' #R allows such syntax - in fact very commonly used.

In [ ]:
student age = 25 # R does not allow this

In [ ]:
2023_sales_amt= 34231 # Not allowed in R as well

From Google’s Python style guide: https://google.github.io/styleguide/pyguide.html

"Function names, variable names, and filenames should be descriptive; avoid abbreviation. In particular,  do not use abbreviations that are ambiguous or unfamiliar to readers outside your project, and do not abbreviate by deleting letters within a word"

`module_name, package_name, ClassName, method_name, ExceptionName, function_name, GLOBAL_CONSTANT_NAME, global_var_name, instance_var_name, function_parameter_name, local_var_name, query_proper_noun_for_thing, send_acronym_via_https`


Names to avoid: 
- Single character names, except for specifically allowed cases:
    - counters or iterators (e.g., i, j, k, v, et al.)
    - e as an exception identifier in try/except statements.
    - f as a file handle in with statements

- Dashes (-) in any package/module name

- Double_leading_and_trailing_underscore names (reserved by Python: e.g., `__self__`)

- Offensive terms

# Python Built-in Data Types

## String - `str`

Analogous to `character` data types in R.

In [ ]:
state_name = 'Indiana'
type(state_name)

In [ ]:
help(type)

Note: In R, we use `class()` and `typeof()`.

Strings in double quotes. R has a similar behavior

In [ ]:
city_name = 'Louisville'
print(city_name)

A single quote within double quotes: (works in R as well)

In [ ]:
nurse_note = "Patient's temperature is 101 degrees."
print(nurse_note)

Double quotes within single quotes (works in R as well)

In [ ]:
nurse_note1 = 'Patient mentions "excessive pain".'
print(nurse_note1)

Single quote within single quotes errors out. Same behavior in R

In [ ]:
nurse_note2 = 'Patient's temperature is 101 degrees.'

An alternative is to use double quotes to enclose the single quote (as above) or to use `\` to escape. (works in R as well)

In [ ]:
nurse_note2 = 'Patient\'s temperature is 101 degrees.'

Multiline string

I am not aware of such a functionality in R

In [ ]:
blog_excerpt = """A: "Generative AI will change everything."
B: "I don't agree -- it will change nothing."   

"""
type(blog_excerpt)

In [ ]:
another_blog_excerpt = """
A: 'Generative AI will change everything.'
B: "I don't agree -- it will change nothing."  
"""

#note the mix of single and double quotes in the above example
print(another_blog_excerpt)

## Numeric data types

### Integers - `int`

In [ ]:
student_age = 25
type(student_age)

Note when you execute the above code in on the REPL, this is the output that you see: 

```
>>> student_age = 25
>>> type(student_age)
<class 'int'>
```

Note: R defaults to double even when you type an integer. The notation to force R to use integer data type is: 

```R:
> student_age <- 25
> class(student_age)
[1] "numeric"
> typeof(student_age)
[1] "double"
> student_age <- 25L
> typeof(student_age)
[1] "integer"
> class(student_age)
[1] "integer"
```

### Floats - `float`

In [ ]:
student_weight = 167.64
type(student_weight)

R counter part to `float` is `double` 

```R
> patient_weight = 123.89
> class(patient_weight)
[1] "numeric"
> typeof(patient_weight)
[1] "double"
> 
```

### Complex numbers - `complex`

In [ ]:
example_complex_number = 2 + 3j
type(example_complex_number)

Note: R uses `i` in place of the python `j` in the above code block.
```R
> complex_nbr_example <- 4 - 2i
> typeof(complex_nbr_example)
[1] "complex"
> class(complex_nbr_example)
[1] "complex"
```

## Boolean - `bool`

Python boolean values are `True` and `False` (c.f., `TRUE` and `FALSE` in R)

In [ ]:
today_is_friday = True
today_is_saturday = False
type(today_is_friday)

Logical operations on boolean values

In [ ]:
True & False

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
True | False

In [ ]:
True + False

In [ ]:
False + False

Similar functionalities exist in R:

```R
> TRUE & FALSE
[1] FALSE
> TRUE | FALSE
[1] TRUE
> TRUE + FALSE
[1] 1
```

# Lists

 - A Python list is an ordered, mutable collection of objects.
 - Lists can be created using square brackets (`[]`).
 - Lists can contain objects of any type, including strings, numbers, and other lists.
 - Among the most widely used python data structures.

### Creating lists

In [ ]:
list1 = [0, 2, 4, 6, 8]
list_of_lists = [list1, ['a', 'b', 'c']]
list_of_states = ['Indiana', 'Kentucky', 'Ohio', 'Tennessee']
list_of_scores = [99, 85, None, 70, 91]
mixed_data_type_list = [99, 85, None, 70, 91, 'Indiana', 'Kentucky',\
                        'Ohio', 'Tennessee', True,[1, 2, 3]]
empty_list = []
bool_list = [True, False, True, True, False]
another_list_of_ints = list((1,2,3))

In [ ]:
print(f"Type of list1 is: {type(list1)}; \n Type of list_of_lists is: {type(list_of_lists)} \n")

In [ ]:
type(bool_list)

Lists in R are created using the `list()` function:

```
R
> mixed_data_type_list <- list(99, 85, NA, 70, 91, 'Indiana', 'Kentucky', 'Ohio', 'Tennessee', TRUE, list(1, 2, 3))
> class(mixed_data_type_list)
[1] "list"
```

We cannot broadcast mathematical operations to all the elements of a list in the following manner (even when all the elements of the list are of some numerical data type) -- similar to R's lists.

In [ ]:
numeric_list = [1, 2, 3, 4, 5]

In [ ]:
numeric_list + 10

```R
> list(1, 2, 3, 4, 5)
[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] 4

[[5]]
[1] 5

> list(1, 2, 3, 4, 5)*2
Error in list(1, 2, 3, 4, 5) * 2 : 
  non-numeric argument to binary operator
```

Caution for R users: the multiplication operator on python lists...

When you multiply a list by an integer constant in Python, the list is concatenated with itself by the multiplicative factor. This means that if you multiply a list by 2, you will get a new list that contains the original list twice.

In [ ]:
list_of_ints = [1, 2, 3, 4, 5]
list_of_ints * 3

In [ ]:
list_of_ints = [1, 2, 3, 4, 5]
list_of_ints * 3.2

Multiplying list by a non-positive integer returns an empty list

In [ ]:
list_of_ints = [1, 2, 3, 4, 5]
list_of_ints * -1

This is not just limited to lists by the way

In [ ]:
state_of_residence = 'Kentucky'
state_of_residence * 3

In [ ]:
state_of_residence*0

### Accessing elements in list

In [ ]:
list_of_states = ['Indiana', 'Kentucky', 'Ohio', 'Tennessee']
list_of_states[0] #Access the first element

Note to R users: 
    Python is 0 indexed language vs. R's indexing starting from 1.

In [ ]:
list_of_states = ['Indiana', 'Kentucky', 'Ohio', 'Tennessee']
print(list_of_states[1]) #Second element is indexed by 1

Length of the list - i.e, the number of elements in the list

In [ ]:
list_of_states = ['Indiana', 'Kentucky', 'Ohio', 'Tennessee']

len(list_of_states)

In [ ]:
list_of_states[len(list_of_states) - 1] 
#Last element is indexed by len(list_of_states) - 1. In this example it is indexed by 3

Last element is indexed by len(list_of_states) - 1. In this example it is indexed by 3

In [ ]:
list_of_states = ['Indiana', 'Kentucky', 'Ohio', 'Tennessee']
list_of_states[3] #Last element is indexed by 3
print(f"The last element of list_of_states is: {list_of_states[len(list_of_states) - 1]}. It is indexed by {len(list_of_states) - 1}.")

What happens if we use an index value of 4? We will get index out of range error since this vector does not have a 5th element.

In [ ]:
list_of_states = ['Indiana', 'Kentucky', 'Ohio', 'Tennessee']
list_of_states[4]

Accessing elements of R list:

```R
> list_of_states <- list('Indiana', 'Kentucky', 'Ohio', 'Tennessee')
> list_of_states[1] # First element
[[1]]
[1] "Indiana"

> list_of_states[2] # Second element
[[1]]
[1] "Kentucky"

> length(list_of_states) # Length of list - number of elements
[1] 4
> list_of_states[length(list_of_states)] # Last element
[[1]]
[1] "Tennessee"

> list_of_states[4] # Last element for this example
[[1]]
[1] "Tennessee"
```

Negative indexing has different behavior between R and Python


Negative indexing in Python is a way to access elements of a sequence (such as a list, a string, or a tuple) from the end, using negative numbers as indexes.

The index of the last element in a sequence is -1, the index of the second last element is -2, and so on.

In [ ]:
list_of_states = ['Indiana', 'Kentucky', 'Ohio', 'Tennessee']
list_of_states[-1] #Last element is indexed by -1

In [ ]:
list_of_states[-2] #Second to last element is indexed by -2

Negative indexing in R has the effect of removing elements

```R
> list_of_states <- list('Indiana', 'Kentucky', 'Ohio', 'Tennessee')
> list_of_states[-1] # removes the first element
[[1]]
[1] "Kentucky"

[[2]]
[1] "Ohio"

[[3]]
[1] "Tennessee"
```

Combining the elements of two lists to create another list

In [ ]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekenddays = ['Saturday', 'Sunday']

`+` operator concatenates elements of multiple lists into one

In [ ]:
daysofweek = weekdays + weekenddays
print(daysofweek)

You can also unpack elements of a list using starred expression.

In [ ]:
days_of_week = [*weekdays, *weekenddays]
print(days_of_week)

Combine two or more lists using the `extend` **method**

In [ ]:
weekdays.extend(weekenddays)

In [ ]:
weekdays

Note that `extend` modified the first list (`weekdays` in this example) by appending all the elements of the second list to it.

Let's now remove the last item using `pop` method

In [ ]:
weekdays.pop()

In [ ]:
print(weekdays)

In [ ]:
help(weekdays.pop)

In [ ]:
weekdays

Let's also remove the element 'Saturday' so that `weekdays` list only includes days from Monday to Friday.

In [ ]:
del(weekdays[-1])

In [ ]:
print(weekdays)

In [ ]:
help("del")

We used the `del` function this time. 

Note the way the _function_ `del` was called vs. the _method_ `.pop` was applied on the list `weekdays`.

**Methods vs. Functions**
  - Methods are associated with class of objects. The method `pop` is associated with the class of objects (list in this example). We cannot call the method pop as a standalone function. `pop(weekdays)` will result in an error - see below. 
  - Functions need not be associated with a class of objects. 
  - Calling a method requires use of the `.` notation: `[object_name][.][method_name()]`

There is more to the differences between methods and functions, but we will stop here since this is an introductory course and we will not delve into object oriented programming.

In [ ]:
pop(weekdays)

Sorting python lists

In [ ]:
list_of_student_grades = [99, 85, 79, 91, 88, 93, 98, 95, 79, 93]
print(list_of_student_grades)

Apply sort() method

In [ ]:
list_of_student_grades.sort()

In [ ]:
print(list_of_student_grades)

When the original unsorted list has to be preserved, a copy of the list can be made to which the `sort()` method is applied

In [ ]:
list_of_student_grades = [99, 85, 79, 91, 88, 93, 98, 95, 79, 93]
list_of_student_grades_copy = list_of_student_grades.copy()
list_of_student_grades_copy.sort(reverse = True)

In [ ]:
print(list_of_student_grades_copy)

In [ ]:
print(list_of_student_grades)

An alternative approach is to use the _function_ `sorted`

In [ ]:
help(sorted)

In [ ]:
list_of_student_grades = [99, 85, 79, 91, 88, 93, 98, 95, 79, 93]
sorted_list_of_student_grades = sorted(list_of_student_grades)
print(sorted_list_of_student_grades)

Note application of the method `.sort()` modified the original list. This is different from how R behaves: 

```R
> list_of_student_grades <- list(99, 85, 79, 91, 88, 93, 98, 95, 79, 93)
> sort(list_of_student_grades)
Error in sort.int(x, na.last = na.last, decreasing = decreasing, ...) : 
  'x' must be atomic
> list_of_student_grades <- c(99, 85, 79, 91, 88, 93, 98, 95, 79, 93)
> sort(list_of_student_grades)
 [1] 79 79 85 88 91 93 93 95 98 99
> print(list_of_student_grades)
 [1] 99 85 79 91 88 93 98 95 79 93
> 
```

Not all python lists are sortable:

In [ ]:
mixed_data_type_list = [99, 85, None, 70, 91, 'Indiana', 'Kentucky', 'Ohio', 'Tennessee', True,[1, 2, 3]]
sorted(mixed_data_type_list)

In [ ]:
mixed_data_type_list.sort()

### Slicing

```python
list_a = [1, 2, 3, 4, 5, 6]
          0  1  2  3  4  5   <-  index numbers
```

```python
 list_a[2:5]
```
Returns the 3rd (indexed by 2), 4th (indexed by 3), and 5th (indexed by 4) elements of the list. 

The slicing `2:5` includes all elements starting from the 2nd index value to the 4th. 
When you see `2:5`  think of left inclusive, right exclusive [2,5)

In [ ]:
list_a = [1, 2, 3, 4, 5, 6]
list_a[2:5]

```python
list_a = [1 , 2, 3, 4, 5, 6]
         -6  -5 -4 -3 -2 -1   <- negative index numbers
```

In [ ]:
list_a = [1, 2, 3, 4, 5, 6]
list_a[-5:-2] #including -5, excluding -2 index values.

In [ ]:
list_a = [1, 2, 3, 4, 5, 6]
list_a[:]

In [ ]:
list_a = [1, 2, 3, 4, 5, 6]
list_a[3:]

In [ ]:
list_a = [1, 2, 3, 4, 5, 6]
list_a[-3:]

Python lists are mutable (i.e., modifiable after creation). e.g., `.pop` and `del` applications illustrate the mutability of lists. So does the following code which alters 4th (indexed by 3) value of a list

In [ ]:
list_a = [1, 2, 3, 4, 5, 6]
list_a[3] = 99
print(list_a)

# Tuples

Tuples are a data type in Python that are similar to **lists**, but they are immutable, meaning that they cannot be changed once they are created. This makes them useful for storing data that needs to be protected from accidental modification, to pass data to functions as arguments  (so function cannot modify the data) or to return multiple values from a function.

Creating tuples

In [ ]:
#comma separated objects inside brackets
quarter_1_months = ('January', 'February', 'March')

#brackets are optional: typically used as return values from functions
quarter_2_months = 'April', 'May', 'June'

#apply tuple function to a list input
quarter_3_months = tuple(['July', 'August', 'September'])

#like lists, tuples can contain mixed data types
mixed_data_type_tuple = (99, 85, None, True,[1, 2, 3])

In [ ]:
type(quarter_3_months), type(quarter_2_months), type(quarter_1_months), type(mixed_data_type_tuple)

In [ ]:
mixed_data_type_tuple[2] = 76 #tuple is immutable

We can change tuples to lists using `list()` function

In [ ]:
quarter_4_months = ('October', 'November', 'December')
type(quarter_4_months)

In [ ]:
quarter_4_mths_list = list(quarter_4_months)
type(quarter_4_mths_list)

Much of the operations we covered earlier (expect those that modify lists) apply for tuples

In [ ]:
months_of_year = quarter_1_months + quarter_2_months + quarter_3_months + quarter_4_months
print(months_of_year)

Slice every other month starting with January

In [ ]:
months_of_year[0::2]

The slicing logic in the expression `months_of_year[0::2]`:
 - Start index: 0
 - Stop index: Omitted, meaning that the slicing will go to the end of the tuple.
 - Step size: 2. This means that the slicing will start at the first element (index 0) and go to the end of the tuple, taking every other element (step size of 2).

# Sets

Sets

Python sets are **unordered**, **mutable** collections of **unique** elements.

In [ ]:
students_end_of_year_grades = ('A', 'B', 'C', 'D', 'A', 'D', 'B', 'F', 'C', 'D', 'A', 'B')
len(students_end_of_year_grades)

In [ ]:
set(students_end_of_year_grades)

In [ ]:
set_b = {'a', 'd', 1, True, None}

In [ ]:
len(set_b), type(set_b)

In [ ]:
students_end_of_year_grades = ('A', 'B', 'C', 'A', 'A', 'C', 'B', 'F', 'C', 'C', 'A', 'B')
set(students_end_of_year_grades)

Find unique grades and number of times they occur

In [ ]:
unique_grades = set(students_end_of_year_grades)
print(unique_grades)

In [ ]:
unique_grades.add('D')

In [ ]:
print(unique_grades) # They are mutable

In [ ]:
A = {1, 2, 3, 4, 5}
B = {3, 4, 5, 6, 7}
A & B, A.intersection(B)

In [ ]:
A | B, A.union(B)

In [ ]:
A - B, A.difference(B)

In [ ]:
B - A, B.difference(A)

In [ ]:
A ^ B, A.symmetric_difference(B)

In [ ]:
A < B # A is a proper subset of B?

In [ ]:
A <= B # A is a subset of B?

|  | Python list | Tuple | Set |
|---|---|---|---|
| Mutability | Mutable | Immutable | Mutable |
| Order | Ordered | Ordered | Unordered |
| Uniqueness | Allows duplicate elements | Allows duplicate elements | Does not allow duplicate elements |

# Ranges - `range`

The range() function in Python is used to generate a sequence of numbers. The sequence starts at 0 by default, and increments by 1 by default. The range() function takes up to three arguments:

    start: The start index of the sequence.
    stop: The stop index of the sequence. The stop index is not included in the sequence.
    step: The step size of the sequence.

In [ ]:
range(10)

In [ ]:
type(range(10))

In [ ]:
# typically used while creating "for loops":
for i in range(10):
    print(i)

The range() function is a powerful tool for generating sequences of numbers in Python. It can be used for a variety of tasks, such as iterating over a list, creating a range of numbers for a plot, etc.

R analogue is seq()

```R
> seq(10)
 [1]  1  2  3  4  5  6  7  8  9 10

#for loop in R
> for (i in seq(10) ){
+   print(i)
+ }
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10
> 
```

In [ ]:
help(range)

a sequence of integers from start (inclusive) to stop (exclusive) by step

In [ ]:
for r in range(0, 10, 2): #
    print(r)

## NoneType - `None`

The None type in Python is a special data type that represents the absence of a value. The None type is often used to represent missing values or empty data structures. For example, the value of a variable that has not been assigned a value yet, or to represent the value of an element in a list that is not present. The None type is also often used as the default return value for functions

In [ ]:
here_goes_nothing = None
type(here_goes_nothing)

In [ ]:
list_with_none_element = [1, 2, 3, None]
type(list_with_none_element)

In [ ]:
print(list_with_none_element[3])

In [ ]:
list_with_none_element[3] == None

In [ ]:
list_with_none_element[3] is None

# Comparing values (comparison operators)

Comparison operators: 

    - Less than ( < )
    - Less than or equal to (<=)
    - Greater than (>)
    - Greater than or equal to (>=)
    - Equal to ( == )
    - Not equal to ( != )

In [ ]:
x = 10
y = 23
x == y

In [ ]:
x < y

In [ ]:
x >= y

In [ ]:
x <= y

In [ ]:
x = 10
y = 10
x == y

Comparison operators on strings

In [ ]:
x = 'bear'; y = 'pear'; z = 'apple'

In [ ]:
x == y

In [ ]:
y >= x #true since p comes after b in the alphabet

In [ ]:
pear = 'pear'
Pear = 'Pear'
pear > Pear, pear < Pear, pear == Pear

Python uses ASCIIbetical order -  uppercase letters come before lowercase letters. This is because uppercase letters have lower ASCII codes than lowercase letters. For example, the ASCII code for the uppercase letter "A" is 65, while the ASCII code for the lowercase letter "a" is 97.

In [ ]:
pear = 'pear'
Pear = 'Pear'
print(Pear.lower()) #converts Pear to lower case

In [ ]:
pear.lower() == Pear.lower()

Care when comparing floats

In [ ]:
x = 1.2
y = 2.2 - 1
x == y

In [ ]:
print(x)

In [ ]:
print(y)

 It is important to use either the round() function or libraries such as NumPy when comparing floats. This is because floating-point numbers are not represented exactly in computers. Instead, they are represented using a finite number of bits, which can lead to rounding errors.

In [ ]:
x = 1.2
y = 2.2 - 1
x == y

In [ ]:
round(x, 4) == round(y, 4)

Next notebook..... NumPy